/* work sans font from google fonts*/

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;600;700;800&display=swap');

  /* ========== shared Styles ========== */

  *{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif; 
    font-family: 'Work Sans', sans-serif;
  }

  *{
    margin: 0;
    padding: 0;
  }

  .btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: 0;
    color: #FFFFFF;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
  }

  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
  }

  nav > ul{
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
  }

  nav li a{
    text-decoration: none;
    color: #424242;
  }


  /* ========== banner section starts ========== */
  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: 131313;
    margin-top: 120px;
  }

  .banner-description{
    color: #727272;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  .banner img{
    margin-top: 70px;
    max-width: 100%;
  }



  /*======================quick list part stars============================================*/

  

  main{
    max-width: 1440px;
    margin: 70px auto;
  }

  .teams-container{
    display: flex;
    align-items: center;        /* left-right* vertically center*/
  }


  .teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .teams-content{
    padding-left: 70px;
    padding-right: 70px;
  }

  .teams-title{
    font-size: 2.8rem;
    margin-bottom: 24px;
  }

  .quick{
    color: #727272;
    font-weight: 500;
  }

  .our{
    color: #131313;
    font-weight: 700;
  }

  .features{
    color: #FF900E;
    font-weight: 700;
  }


  .teams-description{
    color: #727272;
    margin-bottom: 32px;
  }






  /* responsive media queries*/
  /* mobile devices */
  @media screen and (max-width: 576px) {
    header{
        padding: 50px;
    }

    header h3{
        margin-bottom: 40px;
    }

    nav,
    .teams-container{
        flex-direction: column;
    }

    .teams-img-container{
      grid-template-columns: 1fr;
    }

    .teams-content{
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  /* tablet and medium devices */

  @media screen and(min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav, 
    .teams-container{
        flex-direction: column;
    }
    
  }

  

  /* ============================= medium device e break ==========================*/
